<!--=================================
=            Page Slider            =
==================================-->
<div class="hero-slider">
  <!-- Slider Item -->
  <div
    class="slider-item slide1"
    style="background-image: url(images/slider/slider-bg-1.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Slide Content Start -->
          <div class="content style text-center">
            <h2
              class="text-white text-bold mb-2"
              data-animation-in="slideInLeft"
            >
              Your Gateway to Innovation: Welcome to Nepal's Neurotech Hub!
            </h2>
            <p class="tag-text mb-4" data-animation-in="slideInRight">
              Explore limitless possibilities as we pioneer breakthroughs in
              neuroscience, shaping a future where technology transforms lives.
            </p>
            <a
              href="about.html"
              class="btn btn-main btn-white"
              data-animation-in="slideInLeft"
              data-duration-in="1.2"
              >explore</a
            >
          </div>
          <!-- Slide Content End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Item -->
  <div
    class="slider-item"
    style="background-image: url(images/slider/slider-bg-2.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Slide Content Start-->
          <div class="content style text-center">
            <h2 class="text-white" data-animation-in="slideInRight">
              Discover Tomorrow: Embrace Innovation at Nepal's Neurotech Centre
            </h2>
            <p
              class="tag-text mb-4"
              data-animation-in="slideInRight"
              data-duration-in="0.6"
            >
              Join us on a journey of discovery, where innovation fuels progress
              and opens doors to new realms of possibility in neuroscience.
            </p>
            <a
              href="about.html"
              class="btn btn-main btn-white"
              data-animation-in="slideInRight"
              data-duration-in="1.2"
              >about us</a
            >
          </div>
          <!-- Slide Content End-->
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Item -->
  <div
    class="slider-item"
    style="background-image: url(images/slider/slider-bg-3.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Slide Content Start -->
          <div class="content text-center style">
            <h2
              class="text-white text-bold mb-2"
              data-animation-in="slideInRight"
            >
              Unlock Your Mind: Journey with Us at Nepal's Neurotech Oasis
            </h2>
            <p class="tag-text mb-4" data-animation-in="slideInLeft">
              Explore the depths of your mind with cutting-edge research and
              technology, as we strive to unlock the secrets of the brain
              together.
            </p>
          </div>
          <!-- Slide Content End -->
        </div>
      </div>
    </div>
  </div>
</div>

<!--====  End of Page Slider  ====-->
