<!--team section-->
<section class="team-section section">
  <div class="container">
    <div class="section-title text-center">
      <h3>Our Team</h3>
      <p class="mb-0">
        Behind the Scenes: Introducing the Dedicated Individuals Fueling Our
        Mission.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/govinda.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Dr. Govinda Raj Poudel</h4>
            <p>Ph.D, Principal Researcher</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/abishek.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Abishek Bista</h4>
            <p>M.C.A, Research Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/mabisha.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Mabisha Dahal</h4>
            <p>B.E, Research Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/sandhya.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Sandhya Karki</h4>
            <p>B.Sc. C.S.I.T, Data Scientist</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/nimesh.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Nimesh Khanal</h4>
            <p>B.E, Research Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/suva.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Suva Sharma</h4>
            <p>B.E, Research Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-member">
          <img
            loading="lazy"
            src="images/team/jyoti.png"
            alt="volunteer"
            class="img-fluid"
          />
          <div class="contents text-center">
            <h4>Jyoti Regmi</h4>
            <p>M.B.S, Finance Officer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End team section-->
